*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%  ||  16->100  10->x   x=  10x100  /16
    // con un font-size de 62.5 %,  entonces como 1 rem es el valor del font size , entonces cada 1 rem va a equivaler a 10 px. p.e si yo necesito 25 px para algo
    // entonces pongo la siguiente medida: 2.5rem; así de fácil para establecer este tipo de medidas,

    // el porcentaje es para acomodar yfacilitar las medidas de¡ntro del código.  los media querys ...toman el rem aparte directamente heredan el valor por defevto de 16 px
    

    @include respond(tab-land) { // width < 1200?
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }
    
    @include respond(big-desktop) {
        font-size: 62.5%; //1rem = --------12, 12/16
    }
}

body {
    box-sizing: border-box; 

}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
